.path {
    position: relative;
    width: 100%;
    height: 100px;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted white;
    width: 90%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.pacman {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: -20%;
    animation: moveForward 5s linear infinite;
    -webkit-animation: moveForward 5s linear infinite;
    animation-delay: 1.2s;
}

.pacman::before,
.pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 30px yellow;
    margin-top: -30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
    -webkit-animation: mouthTop 0.7s ease infinite;
}

.pacman::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBottom 0.7s ease infinite;
    -webkit-animation: mouthBottom 0.7s ease infinite;
}

.ghost {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 20%;
    height: 70px;
    width: 60px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: red;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    animation: moveForward 5s linear infinite, colorSwapBlue 0.2s linear infinite, colorSwapPurple 3s linear infinite;
    -webkit-animation: moveForward 5s linear infinite, colorSwapBlue 0.2s linear infinite,
        colorSwapPurple 3s linear infinite;
}

.ghost::before,
.ghost::after {
    content: "";
    position: absolute;
    background: #fff;
    height: 25px;
    width: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    top: 15px;
    left: 4px;
}

.ghost::after {
    left: 28px;
}

.eyes::before,
.eyes::after {
    content: "";
    position: absolute;
    background: green;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    top: 25px;
    left: 5px;
    z-index: 99;
    animation: peeperLeft 0.7s linear infinite;
    -webkit-animation: peeperLeft 0.7s linear infinite;
}

.eyes::after {
    left: 30px;
    animation: peeperRight 0.7s linear infinite;
    -webkit-animation: peeperRight 0.7s linear infinite;
}

.skirt,
.skirt::before,
.skirt::after {
    position: absolute;
    height: 0;
    width: 0;
    border: solid 10px #333;
    border-top-color: transparent;
    bottom: -10px;
}

.skirt::before {
    content: "";
    left: 10px;
}

.skirt::after {
    content: "";
    left: 30px;
}

@keyframes moveForward {
    0% {
        left: -10%;
    }

    100% {
        left: 100%;
    }
}

@keyframes mouthTop {
    50% {
        transform: rotate(44deg);
        -webkit-transform: rotate(44deg);
        -moz-transform: rotate(44deg);
        -ms-transform: rotate(44deg);
        -o-transform: rotate(44deg);
    }
}

@keyframes mouthBottom {
    50% {
        transform: rotate(-44deg);
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
    }
}

@keyframes colorSwapBlue {
    20% {
        background-color: blue;
    }
}

@keyframes colorSwapPurple {
    60% {
        background-color: purple;
    }
}

@keyframes peeperLeft {
    0%,
    100% {
        left: 5px;
    }

    50% {
        left: 10px;
    }
}

@keyframes peeperRight {
    0%,
    100% {
        left: 30px;
    }

    50% {
        left: 35px;
    }
}
