{% extends 'base.html' %}

{% load static %}

{% block head_title %}Locals RPG Game{% endblock %}

{% block extra_head %}
<link href="{% static 'css/games/rpg.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/games/rpg/player.js' %}"></script>
<script type="text/javascript" src="{% static 'js/games/rpg/enemy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/games/rpg/gamemanager.js' %}"></script>
{% endblock %}

{% block content %}

<div class="heading mt-5">
    <p>Play the Locals RPG Game!</p>
    <h2>Choose your character!</h2>
</div>

<div class="interface">
    <a onclick="GameManager.setGameStart('Warrior')" href="#"><img src="{% static 'img/games/rpg/warrior.png' %}" alt="Warrior">
        <div>
            <h3>Warrior</h3>
            <p>Warriors have higher health and stamina, however their strength also makes them slower and clumsier.</p>
        </div>
    </a>
    <a onclick="GameManager.setGameStart('Hunter')" href="#"><img src="{% static 'img/games/rpg/hunter.png' %}" alt="Hunter">
        <div>
            <h3>Hunter</h3>
            <p>Hunters are well rounded fighters that focus on evening out their skills. No strengths or weaknesses</p>
        </div>
    </a>
    <a onclick="GameManager.setGameStart('Mage')" href="#"><img src="{% static 'img/games/rpg/mage.png' %}" alt="Mage">
        <div>
            <h3>Mage</h3>
            <p>Mages are glass canons that puts all their effort into spells. They slack on everything.</p>
        </div>
    </a>
    <a onclick="GameManager.setGameStart('Ranger')" href="#"><img src="{% static 'img/games/rpg/ranger.png' %}" alt="Ranger">
        <div>
            <h3>Ranger</h3>
            <p>Rangers are fast and have high speed and stamina which makes up for their lack in strength and health.</p>
        </div>
    </a>
</div>

<div class="actions">

</div>

<div class="arena">

</div>

<div class="enemy">

</div>

{% endblock %}

{% block extra_script %}

{% endblock %}