{% extends 'base.html' %}

{% block title %} Create New List {% endblock %}

{% block extra_head %}
<style>
	input {
		height: 45px;
		margin-top: 6px;
		margin-left: -8px;
	}

	@media (max-width: 369px) {
		input {
			height: 40px;
			width: 500px;
			margin-top: -100px;
			margin-left: -8px;
			border-color: blue;
		}

		.move {
			margin-top: 50px;
			margin-left: -5px;
		}
	}
</style>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h3 class="mt-5">Create Page</h3>
<form method="post" action="/create/" class="form-group">
	{% csrf_token %}
	<div class="input-group form-group">
	<button type="submit" name="save" class="btn btn-outline-success waves-effect move">Create New</button>
		{{form.name}}
	</div>
</form>
<b>Hint:</b> <span>max-length = 30</span>

{% else %}
<div class="text-center mt-5 pt-2">
	<h4>You're not logged in!</h4>
</div>
{% endif %}

{% endblock %}
