{% extends 'base.html' %}

{% load static %}

{% block head_title %} Home {% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% comment %}
{% if messages %}
<div class="mt-5 pt-3">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% if forloop.counter == 1 %}
  <div style="display: none;">
    {% endif %}
    {% endfor %}
  </div>
</div>

{% else %}
<div class="mt-5"></div>
{% endif %}

{% endcomment %}

<div class="mt-5">
  <h4><span id="greet">Hello there</span> {{request.user}}!</h4>
  <p>You can create your To-Do Lists <a href="/create">here</a></p>
</div>
{% endif %}

{% endblock %}

{% block extra_content %}

{% if not user.is_authenticated %}
<div class="text-center mt-5">
  <h4>LogIn to play some games and Of course, make your To-Do Lists.</h4>
</div>
{% endif %}
<div class="text-center">
  <button type="button" name="button" class="btn btn-lg waves-effect" id="showPacman">Pacman(On /
    Off)</button>
</div>
<section>
  <div class="text-center">
    <p id="text" style="display: none;"><b>PacMan Says: </b>
      <span>Did I ask you to click me?</span>
    </p>
    <div class="path" id="path" style="display: none;">
      <div class="pacman"></div>
      <div class="ghost">
        <div class="eyes"></div>
        <div class="skirt"></div>
      </div>
    </div>
  </div>
</section>
<div class="text-center mt-5">
  {% if user.is_authenticated %}
  <button class="btn btn-lg btn-outline-danger waves-effect" id="games">Play Some Games</button>
  {% endif %}
</div>
{% if user.is_authenticated %}
<section id="playGame" style="display: none;">
  <div class="text-center">
    <a href="{% url 'core:rpg' %}" class="btn btn-lg waves-effect">Simple RPG game</a>
  </div>
</section>
{% endif %}
{% endblock %}


{% block extra_script %}
<script>
  $("#showPacman").on("click", function (e) {
    $('#path').fadeToggle(500);
    $('#games').slideToggle(500, 'linear');
  });

  $('#path').on("click", function (e) {
    $('#text').fadeToggle("100")
  });

  $("#games").on("click", function (e) {
    $('#playGame').fadeIn(500);
    $('main').animate({ marginTop: '-200px' }, 'slow');
  });

  let greet = document.getElementsByTagName("span")
  let date = new Date();
  let currentHour = date.getHours();

  let message;

  if (currentHour >= 5 && currentHour < 12) {
    message = "Good Morning";

  } else if (currentHour >= 12 && currentHour < 18) {
    message = "Good Afternoon";

  } else if (currentHour >= 18 && currentHour < 0) {
    message = "Good Evening";

  } else if (currentHour >= 0 && currentHour < 5) {
    message = "You Should be sleeping";

  } else {
    message = "Are you from another planet :O";
  }

  $("#greet").text(message);
</script>
{% endblock extra_script %}