{% extends 'base.html' %}

{% load static %}

{% block head_title %} Home {% endblock %}

{% block extra_head %}
<script>



</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% comment %}
{% if messages %}
<div class="mt-5 pt-3">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% if forloop.counter == 1 %}
  <div style="display: none;">
    {% endif %}
    {% endfor %}
  </div>
</div>

{% else %}
<div class="mt-5"></div>
{% endif %}

{% endcomment %}

<div class="mt-5">
  <h4><span id="greet">Hello there</span> {{request.user}}!</h4>
  <p>You can create your To-Do Lists <a href="/create">here</a></p>
</div>

{% else %}
<div class="text-center mt-5 pt-2">
  <h4>You're not logged in!</h4>
</div>
{% endif %}

{% endblock %}
{% block extra_content %}
<section>
  <div class="text-center">
    <button type="button" name="button" class="btn btn-lg btn-otline-danger waves-effect" id="showPacman">Pacman(On /
      Off)</button>
  </div>
  <div class="text-center">
    <p id="text" style="display: none;"><b>PacMan Says: </b>
      <span>Did I ask you to click me?</span>
    </p>
    <div class="path" id="path" style="display: none;">
      <div class="pacman"></div>
      <div class="ghost">
        <div class="eyes"></div>
        <div class="skirt"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block extra_script %}
<script>
  $("#showPacman").on("click", function (e) {
    $('#path').fadeToggle(400);
  });

  $('#path').on("click", function (e) {
    $('#text').fadeToggle("100")
  });

  let greet = document.getElementsByTagName("span")
  let date = new Date();
  let currentHour = date.getHours();

  let message;

  if (currentHour >= 5 && currentHour < 12) {
    message = "Good Morning";

  } else if (currentHour >= 12 && currentHour < 18) {
    message = "Good Afternoon";

  } else if (currentHour >= 18 && currentHour < 0) {
    message = "Good Evening";

  } else if (currentHour >= 0 && currentHour < 5) {
    message = "You Should be sleeping";

  } else {
    message = "Are you from another planet :O";
  }

  $("#greet").text(message);
</script>
{% endblock extra_script %}