{% extends 'base.html' %}

{% block title %} Views {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="mt-5 pt-2">
	{% if user.todolist.all %}
	{% for td in user.todolist.all %}
		<li class="list-group-item">
			<form method="post" action="/delete/{{ td.id }}/">
				{% csrf_token %}
					<button type="submit" class="close btn-danger">
							<span aria-hidden="true">&times;</span>
					</button>
			</form>
			<span><a href="/{{td.id}}">{{td.name}}</a></span>
		</li>
	{% endfor %}
	{% else %}
	<h2>You don't have any To-Do-List!</h2>
	<h5>Create one <a href="/create">here</a></h5>
	{% endif %}
</div>

{% else %}
<div class="text-center mt-5 pt-2">
	<h4>You're not logged in!</h4>
</div>
{% endif %}

{% endblock %}
