{% extends 'main/base.html' %}
{% block title %}View List{% endblock %}

{% block extra_head %}
<style>
	.more {
		margin-top: 6px;
		height: 45px;
		margin-left: -8px;
	}
</style>
{% endblock %}

{% block content %}
	<h3 class="mt-5 pt-1">{{obj.name}}</h3>
	<form method="post" action="#">
		{% csrf_token %}
			{% for item in obj.item_set.all %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{% if item.complete == True %}
							<input type="checkbox" name="c{{item.id}}" value="clicked" checked>
						{% else %}
							<input type="checkbox" name="c{{item.id}}" value="clicked">
						{% endif %}
					</div>
				</div>
				<input type="text" value="{{item.text}}" class="form-control">
			</div>
			{% endfor %}

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button type="submit", name="newitem", value="newitem" class="btn btn-outline-primary waves-effect">Add Item</button>
			</div>
			<input type="text" name="new" class="form-control more">
		</div>
	<div class="text-center">
		<button type="submit", name="save", value="save" class="btn btn-outline-success waves-effect">Save</button>
	</div>
	</form>
{% endblock %}
