{% extends 'main/base.html' %}
{% block title %}View List{% endblock %}

{% block content %}
	<h3>{{obj.name}}</h3>
	<form method="post" action="#">
		{% csrf_token %}
			{% for item in obj.item_set.all %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{% if item.complete == True %}
							<input type="checkbox" name="c{{item.id}}" value="clicked" checked>
						{% else %}
							<input type="checkbox" name="c{{item.id}}" value="clicked">
						{% endif %}
					</div>
				</div>
				<input type="text" value="{{item.text}}" class="form-control">
			</div>
			{% endfor %}

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button type="submit", name="newitem", value="newitem" class="btn btn-primary">Add Item</button>
			</div>
			<input type="text" name="new">
		</div>

		<button type="submit", name="save", value="save" class="btn btn-success">Save</button>
	</form>
{% endblock %}