/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

.drop:hover {
  background-color: #d8d8d8;
  box-shadow: 0px 5px #888888;
  transform: translateY(4px);
}

.logt:hover {
  background-color: red;
  box-shadow: 0px 5px #888888;
  transform: translateY(4px);
}

.create:hover {
  background-color: #2bf52b;
  box-shadow: 0px 5px #888888;
  transform: translateY(4px);
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA;
}

@media (max-width: 560px) {
  .fea ul li {
    margin-right: -100px;
  }

  .about h4 {
    margin-right: -50px;
  }

  .about ul li {
    margin-right: -60px;
  }

  /* Remove when FEATURE is active */
  .contact h4 {
    margin-right: -50px;
  }

  .contact ul li {
    margin-right: -60px;
  }

  /* Add when FEATURE is active */
  /* .contact h4 {
  margin-right: -100px;
}

.contact ul li {
  margin-right: -100px;
} */
}

/* change to 320 when FEATURE is active */
@media (max-width: 388px) {
  /* Add when FEATURE is active */
  /* .all {
    margin-left: -90px;
}

.about {
    margin-right: 10px;
}

.about ul li {
    margin-right: -200px;
} */

  /* Remove when FEATURE is active */
  .all {
    margin-left: -90px;
  }

  .about {
    margin-right: 20px;
    margin-left: 5px;
  }

  .about ul li {
    margin-right: -100px;
  }

  .contact h4 {
    margin-right: -100px;
  }

  .contact ul li {
    margin-right: -150px;
  }
}

/* Add when FEATURE is active */
/* @media (min-width: 321px) and (max-width: 500px) {
  .all {
    margin-left: -90px;
  }
} */

/* Remove when FEATURE is active */
@media (min-width: 389px) and (max-width: 610px) {
  .all {
    margin-left: -100px;
  }
}

@media (max-width: 800px) {

  html,
  body,
  header,
  .carousel {
    height: 60vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.first-drop {
  margin-left: -10px;
}

.dropdown-menu {
  width: 15em;
  /* background-color: #d7ddeef6; */
}

.dropdown-menu li a:hover {
  background-color: #cbccce;
}

.up {
  margin-top: -20px;
}

.product-image {
  width: 100%;
}

@media (max-width: 767px) {
  .product-image {
    width: 70%;
    margin-left: 15%;
  }
}

@media (min-width: 992px) {
  .product-image {
    width: 70%;
  }
}

.my-btn {
  width: 100%;
}